<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yjt.apt">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.router.RouterActivity"/>
        <activity android:name=".test.router.TestActivity1"/>
        <activity android:name=".test.router.TestActivity2"/>
        <activity android:name=".test.router.TestActivity3"/>
        <activity android:name=".test.router.TestActivity6"/>
        <activity android:name=".test.router.SchemeFilterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.yjt.com"
                    android:scheme="router"/>

                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

            <!-- App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="m.yjt.com"
                    android:scheme="http"/>
                <data
                    android:host="m.yjt.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".test.router.TestActivity7"/>
    </application>

</manifest>